<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000061749/539404ec5046d9cd9a8543484a6203cfeaa2d8cb4e67d4f854fee50da734b000" alt="" height="240px" >
  </div>

  <div class="big-card_title">
    <a href="">Foi lançado o EA FC24</a>
  </div>

  <div class="big-card_description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non augue lacinia enim condimentum semper. Morbi porta cursus erat ut mollis. Curabitur convallis mi urna, quis feugiat turpis placerat a.</p>
  </div>
</div>
